[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mail = "*"
flask-bootstrap = "*"
flask-wtf = "*"
flask-moment = "*"
flask-script = "*"
flask-migrate = "*"
pymysql = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.7"
